* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #999;
  font: normal 1rem/1.5 'Lato', sans-serif;
  letter-spacing: 1;
  text-align: left;
  background-color: #fff;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display:block;
  margin: 0 auto;
  -webkit-clip-path: polygon(0% 15%, 23% 22%, 15% 0%, 85% 0%, 73% 21%, 100% 15%, 100% 85%, 77% 81%, 85% 100%, 15% 100%, 24% 81%, 0% 85%);
  clip-path: polygon(0% 15%, 23% 22%, 15% 0%, 85% 0%, 73% 21%, 100% 15%, 100% 85%, 77% 81%, 85% 100%, 15% 100%, 24% 81%, 0% 85%);
  -webkit-box-shadow: 4px 3px 84px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 84px 7px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 84px 7px rgba(0,0,0,0.75);
}

ul {
  list-style: none;
  font-weight: 900;
  font-size: 1.25rem;
}

ul li {
  width: 100%;
  font-weight: 100;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  background: linear-gradient(to right, rgba(146, 123, 193, .3), transparent 90%);
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding: 1rem 1rem;
}

h1, h2 {
  text-shadow: 2px 2px 5px rgb(146, 123, 193);
}

header h1 {
  font-size: 3rem;
  font-weight: 100;
  text-shadow: none;
  text-align: center;
  transition: transform .3s ease-out;
}

header h1:hover {
  transform: rotate(5deg);
}

h1 span {
  color: rgb(146, 123, 193);
}

small {
  color: rgb(146, 123, 193);
}

.box {
  margin-bottom: 2rem;
}

.box p::first-letter {
  font-size: 1.45rem;
  font-weight: 900;
  /* gradient text
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0, 1), rgba(0,0,0,.5) 50%, rgba(0,0,0, 1));*/
}

.box:last-of-type {
  padding-top: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, rgb(146, 123, 193), #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, rgb(146, 123, 193), #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, rgb(146, 123, 193), #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, rgb(146, 123, 193), #f0f0f0);
}

footer {
  border-top: 1px solid rgb(146, 123, 193);
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: linear-gradient(to right, rgba(146, 123, 193, .3), transparent 90%);
}
